{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extracss %}

    .jumbotron {
        background-color: #0C3C26;
        color: white;
    }

    .navbar-static-top {
        margin-bottom: 0px;
        border-color: #244f3b;
    }


{% endblock %}

{% block jumbotron %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Try Django 1.8</h1>
                    <p>The MVP Landing project is designed to get your project started. The goal is to help you lunch as soon as possible with the least ammount of investement using time or money. Join us today.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Join Us &raquo;</a></p>
                </div>
                <div class="col-sm-6" style="background-color:black;height:300px;"></div>
            </div>
        </div>
    </div>

{% endblock %}


{% block content %}

    <div class="row">
        <div class="container">
            <div class="col-sm-3 pull-right">
                <p class="lead text-center">{{ title }}</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Sign Up">
                </form>
            </div>

            <div class="col-sm-3">
                <p class="lead text-center">Built with Django &amp; Bootstrap.</p>
            </div>


            <div class="col-sm-3">
                <p class="lead text-center">Created for Starters of all kinds.</p>
            </div>

            <div class="col-sm-3">
                <p class="lead text-center">Always open source.</p>
            </div>
        </div>
    </div>

{% endblock %}
