body {
    min-height: 2000px;
}

.navbar-static-top {
    background-color: #0C3C26;
    margin-bottom: 0px;
}

.text-center {
    text-allign: center;
}

.jumbotron {
    background-color: #0C3C26;
    color: #fff;
}
